<section
	id="subject-container"
	class="subject-container list-section-container section-container"
>
	<div
		id="subject-title-container"
		class="subject-title-container section-title-container"
	>
		<span id="subject-title" class="subject-title section-title">
			Subject
		</span>
	</div>

	<div
		id="subject-action-container"
		class="subject-action-container section-action-container"
	>
		<div
			id="subject-action-inner-container"
			class="subject-action-inner-container section-action-inner-container"
		>
			<div
				id="subject-action-row-1"
				class="subject-action-row-1 section-action-row-1 section-action-row"
			>
				<div
					id="subject-add-action-button"
					class="subject-add-action-button section-action-button button"
				>
					Add +
				</div>
				<div
					id="subject-edit-action-button"
					class="subject-edit-action-button section-action-button button"
				>
					Edit ✎
				</div>
			</div>
			<div
				id="subject-action-row-2"
				class="subject-action-row-2 section-action-row-2 section-action-row"
			>
				<div
					id="subject-cancel-action-button"
					class="subject-cancel-action-button section-action-button button"
				>
					Cancel
				</div>
				<div
					id="subject-save-action-button"
					class="subject-save-action-button section-action-button button"
				>
					Save
				</div>
			</div>
		</div>
	</div>

	<div
		id="subject-list-container"
		class="subject-list-container list-container"
	>
		<div
			id="subject-list-inner-container"
			class="subject-list-inner-container list-inner-container"
		>
			<div
				id="subject-list-button-container-0"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-0"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-0" class="subject-button list-button">
					<span>Mathematics</span>
				</div>
				<div
					id="subject-list-delete-button-0"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-1"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-1"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-1" class="subject-button list-button">
					<span>Economics</span>
				</div>
				<div
					id="subject-list-delete-button-1"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-2"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-2"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-2" class="subject-button list-button">
					<span>Computer Science</span>
				</div>
				<div
					id="subject-list-delete-button-2"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-3"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-3"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-3" class="subject-button list-button">
					<span>Mathematics</span>
				</div>
				<div
					id="subject-list-delete-button-3"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-4"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-4"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-4" class="subject-button list-button">
					<span>Mathematics</span>
				</div>
				<div
					id="subject-list-delete-button-4"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-5"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-5"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-5" class="subject-button list-button">
					<span>Mathematics</span>
				</div>
				<div
					id="subject-list-delete-button-5"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-6"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-6"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-6" class="subject-button list-button">
					<span>Computer Science</span>
				</div>
				<div
					id="subject-list-delete-button-6"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>

			<div
				id="subject-list-button-container-7"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-list-drag-button-7"
					class="subject-list-drag-button list-drag-button list-section-edit-buttons"
				>
					<span></span>
				</div>
				<div id="subject-7" class="subject-button list-button">
					<span>Computer Science</span>
				</div>
				<div
					id="subject-list-delete-button-7"
					class="subject-list-delete-button list-delete-button list-section-edit-buttons"
				>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</section>
