<input
	id="{{module_name}}-modal-{{field_name}}-input"
	type="{{field_input_type}}"
	required
	placeholder="{{field_placeholder}}"
	class="modal-field-{{field_input_type}}-input"
/>
<input
	id="{{module_name}}-modal-subject-code-input"
	type="text"
	required
	placeholder="Enter subject code"
	class="modal-field-text-input"
/>
<textarea
	id="{{module_name}}-modal-{{field_name}}-input"
	name="{{module_name}}-modal-{{field_name}}-input"
	rows="5"
	maxlength="200"
	placeholder="{{field_placeholder}}"
	class="modal-field-text-textarea"
></textarea>
