@import "./../../css/variables.scss";

.topbar {
	justify-content: flex-start;
	flex-direction: row;
	width: 100vw;
	height: var(--topbar-height);
	padding: 10px 30px;
	background: var(--background);
	border-bottom: 6px solid var(--border-black);
}

.topbar-inner-container {
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

/*
////////////////////////////////
////////////////////////////////
TOPBAR TITLE
////////////////////////////////
////////////////////////////////
*/

.topbar-title-container {
	width: fit-content;
	height: 100%;
	padding: 5px 0;
}

.top-title {
	border: 2px solid var(--border-black);
	font-size: var(--big-text-size);
	font-weight: var(--font-weight-bold);
	transition: 0.1s linear;
}

.top-title:hover {
	box-shadow: var(--box-shadow-big-size) var(--box-shadow-black);
}

/*
////////////////////////////////
////////////////////////////////
TOPBAR ADMIN AREA
////////////////////////////////
////////////////////////////////
*/

.topbar-admin-container {
	width: fit-content;
	height: 100%;
	padding: 10px;
}

.top-button {
	width: min-content;
	height: 100%;
	padding: 5px 20px;
	background: var(--primary);
	border-radius: 10px;
	font-size: var(--light-big-text-size);
	cursor: pointer;
}

.top-admin-clear-subjects {
	border: 2px solid var(--border-black);
	font-weight: var(--font-weight-normal);
	transition: 0.1s linear;
}

.top-admin-clear-subjects:hover {
	box-shadow: var(--box-shadow-big-size) var(--subject-accent);
	border: 2px solid var(--subject-accent);
	color: var(--subject-accent-font);
}
