@import "./../../css/variables.scss";

/*
////////////////////////////////
////////////////////////////////
TOPBAR
////////////////////////////////
////////////////////////////////
*/

.topbar {
	justify-content: flex-start;
	flex-direction: row;
	width: 100vw;
	height: 13vh;
	padding: 10px 30px;
	background: var(--background);
	border-bottom: 6px solid black;
}

.topbar-inner-container {
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.topbar-title-container {
	width: fit-content;
	height: 100%;
}

.topbar-admin-container {
	width: fit-content;
	height: 100%;
	padding: 10px;
}

.top-button {
	width: min-content;
	height: 100%;
	padding: 5px 20px;
	background: var(--primary);
	border: var(--border);
	border-radius: 10px;
	font-size: 22px;
}

.top-title {
	font-weight: 600;
	transition: 0.1s ease-in-out box-shadow;
}

.top-title:hover {
	box-shadow: 5px 5px black;
}

.top-admin-clear-subjects {
	font-weight: 400;
	transition: 0.1s ease-in-out box-shadow;
}

.top-admin-clear-subjects:hover {
	box-shadow: 5px 5px var(--subject-accent);
}
