/* 
////////////////////////////////
////////////////////////////////
TOPBAR
////////////////////////////////
////////////////////////////////
*/

.topbar {
	justify-content: flex-start;
	flex-direction: row;
	width: 100vw;
	height: 13vh;
	padding: 10px;
	background: #fcf9ea;
	border-bottom: 4px solid black;
}

.top-title {
	width: min-content;
	height: 100%;
	padding: 5px 15px;
	background: rgb(220, 216, 216);
	border-radius: 10px;
	border: 2px solid black;
	font-size: 22px;
	/* z-index: 2; */
}
