<div id="{{module_name}}-popup" class="{{module_name}}-popup popup">
    <div
        id="{{module_name}}-popup-container"
        class="{{module_name}}-popup-container popup-container"
    >
        <div id="{{module_name}}-popup-titlebar" class="popup-titlebar">
            <h2 id="{{module_name}}-popup-title" class="popup-title">
                {{popup_title}}
            </h2>
        </div>

        <div id="{{module_name}}-popup-description" class="popup-description">
            {{popup_description}}
        </div>

        <div id="close-{{module_name}}-popup" class="popup-close-button button">
            Close
        </div>
    </div>
</div>
