.popup {
	position: fixed;
	top: 0;
	left: 0;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	// pointer-events: none;
	/* z-index: 1; */
}

.popup-container {
	flex-direction: column;
	margin-top: 15vh;
	width: 20vw;
	height: auto;
	padding: 0px;
	background: white;
	border: 2px solid black;
	border-radius: 10px;
	// pointer-events: auto;
}

.popup-titlebar {
	flex-direction: row;
	margin: 0 0 20px 0;
	width: 100%;
	height: 60px;
	background: white;
	border-bottom: 2px solid black;
	border-radius: 10px 10px 0 0;
}

.popup-title {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0;
}

.popup-description {
	margin: 0 30px 5px 30px;
	width: auto;
	height: auto;
	font-size: 18px;
	color: rgb(60, 60, 60);
}

.popup-close-button {
	margin: 20px 0 15px 0;
	width: fit-content;
	padding: 0 20px;
	height: 40px;
	background: rgb(46, 122, 236);
	border-radius: 5px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid black;
	transition: background 0.1s linear;
}

.popup-close-button:hover,
.popup-close-button:active,
.popup-close-button:focus {
	background: rgb(5, 83, 201);
}

// ////////////////////////////////
// ALERT
// ////////////////////////////////

// .alert-popup-titlebar {
//     background: rgb(255, 252, 217);
//     border-bottom-color: rgb(217, 202, 0);
// }

// .alert-popup-title {
//     // background: yellow;
// }

// .alert-popup-description {
//     // background: yellow;
// }

// ////////////////////////////////
// INFO
// ////////////////////////////////

.info-popup-titlebar {
	background: rgb(206, 223, 251);
	border-bottom-color: rgb(13, 71, 167);
}

// .info-popup-title {
//     // background: yellow;
// }

// .info-popup-description {
//     // background: yellow;
// }

// ////////////////////////////////
// WARNING
// ////////////////////////////////

.warning-popup-titlebar {
	background: rgb(255, 252, 217);
	border-bottom-color: rgb(217, 202, 0);
}

// .warning-popup-title {
//     // background: yellow;
// }

// .warning-popup-description {
//     // background: yellow;
// }

// ////////////////////////////////
// ERROR
// ////////////////////////////////

.error-popup-titlebar {
	background: rgb(252, 205, 205);
	border-bottom-color: rgb(190, 12, 12);
}

// .error-popup-title {
//     // background: yellow;
// }

// .error-popup-description {
//     // background: yellow;
// }

// ////////////////////////////////
// SUCCESS
// ////////////////////////////////

.success-popup-titlebar {
	background: rgb(220, 255, 219);
	border-bottom-color: rgb(6, 158, 0);
}

// .success-popup-title {
//     // background: yellow;
// }

// .success-popup-description {
//     // background: yellow;
// }
