/* 
////////////////////////////////
////////////////////////////////
LECTURES
////////////////////////////////
////////////////////////////////
*/

.lecture-container {
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: lightskyblue;
}