@import "./../../../css/variables.scss";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--popup-backdrop);
	/* z-index: 1; */
}

.modal-container {
	flex-direction: column;
	width: 35vw;
	height: auto;
	padding: 0px;
	background: var(--background);
	border: 2px solid var(--border-black);
	border-radius: 10px;
}

/*
////////////////////////////////
////////////////////////////////
TITLE AREA
////////////////////////////////
////////////////////////////////
*/

.modal-titlebar {
	justify-content: space-between;
	flex-direction: row;
	// margin: 0 0 20px 0;
	width: 100%;
	height: 70px;
	background: var(--background);
	border-bottom: 2px solid var(--border-black);
	border-radius: 10px 10px 0 0;
}

.modal-title {
	font-size: var(--big-text-size);
	font-weight: var(--font-weight-bold);
	margin: 10px 0 10px 10px;
}

.modal-close-button {
	aspect-ratio: 1 / 1;
	height: 100%;
	background: var(--background);
	font-size: var(--big-text-size);
	font-weight: var(--font-weight-bold);
	border-left: 2px solid var(--border-black);
	border-radius: 0 10px 0 0;
	transition: 0.1s linear;
	cursor: pointer;
}

.modal-close-button:hover {
	background: var(--red-button-hover);
}

/*
////////////////////////////////
////////////////////////////////
CONTENT
////////////////////////////////
////////////////////////////////
*/

.modal-content {
	flex-direction: column;
	padding: 30px 20px;
	background: var(--background);
	border-radius: 0 0 10px 10px;
}

.modal-description {
	margin: 5px 20px;
	width: auto;
	height: auto;
	font-size: var(--light-small-text-size);
	color: var(--text-secondary);
}

.modal-form {
	flex-direction: column;
	gap: 20px 0;
	width: 100%;
	height: auto;
	padding: 25px 50px 10px 50px;
	background: var(--background);
	border-radius: 10px;
}

.modal-field {
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: auto;
	font-size: var(--light-small-text-size);
}

.modal-field-label {
	align-self: flex-start;
	margin: 0 0 3px 0;
}

.modal-field-text-input {
	width: 100%;
	height: 45px;
	padding: 2px 10px;
	border: 1px solid var(--border-grey);
	border-radius: 5px;
	font-size: var(--small-text-size);
}

.modal-field-text-textarea {
	width: 100%;
	height: auto;
	padding: 2px 10px;
	border: 1px solid var(--border-grey);
	border-radius: 5px;
	resize: vertical;
	font-size: var(--small-text-size);
}

.modal-add-button {
	align-self: flex-start;
	margin: 10px 0 0 0;
	width: 13vw;
	height: 50px;
	background: var(--blue-button);
	border-radius: 5px;
	color: var(--text-primary-reverse);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-bold);
	border: 2px solid var(--border-black);
	transition: background 0.1s linear;
	cursor: pointer;
}

.modal-add-button:hover,
.modal-add-button:active,
.modal-add-button:focus {
	background: var(--blue-button-hover);
}
