<!-- Subject Section -->

<section id="subjects-container" class="subjects-container section-container">
	<div id="add-subject-button" class="add-subject-button add-button button">
		Add Subject
	</div>
	<div
		id="subjects-list-container"
		class="subjects-list-container list-container"
	>
		<div
			id="subject-list-inner-container"
			class="subject-list-inner-container list-inner-container"
		>
			<div id="subject1" class="subjects-button list-button button">
				Subject 1
			</div>
			<div id="subject2" class="subjects-button list-button button">
				Subject 2
			</div>
		</div>
	</div>
</section>

<!-- Add Subject Modal -->

<section id="add-subject-modal" class="add-subject-modal modal">
	<div
		id="add-subject-modal-container"
		class="add-subject-modal-container modal-container"
	>
		<div id="add-subject-modal-titlebar" class="modal-titlebar">
			<h2 id="add-subject-modal-title" class="modal-title">
				Add New Subject
			</h2>
			<span id="close-add-subject-modal" class="modal-close-button"
				>×</span
			>
		</div>
		<div id="add-subject-modal-description" class="modal-description">
			Placeholder description for adding a new subject. Please fill in the
			required fields and any additional information as needed.
		</div>
		<form
			id="add-subject-modal-form"
			class="add-subject-modal-form modal-form"
		>
			<div id="add-subject-modal-subject-name-field" class="modal-field">
				<label
					id="add-subject-modal-subject-name-label"
					for="add-subject-modal-subject-name-input"
					class="modal-field-label"
					>Subject Name* </label
				><input
					id="add-subject-modal-subject-name-input"
					type="text"
					required=""
					placeholder="Enter name of the subject"
					class="modal-field-text-input"
				/>
			</div>
			<div id="add-subject-modal-subject-code-field" class="modal-field">
				<label
					id="add-subject-modal-subject-code-label"
					for="add-subject-modal-subject-code-input"
					class="modal-field-label"
					>Subject Code* </label
				><input
					id="add-subject-modal-subject-code-input"
					type="text"
					required=""
					placeholder="Enter subject code"
					class="modal-field-text-input"
				/>
			</div>
			<div
				id="add-subject-modal-subject-description-field"
				class="modal-field"
			>
				<label
					id="add-subject-modal-subject-description-label"
					for="add-subject-modal-subject-description-input"
					class="modal-field-label"
					>Subject Description </label
				><textarea
					id="add-subject-modal-subject-description-input"
					name="add-subject-modal-subject-description-input"
					rows="5"
					maxlength="400"
					placeholder="Enter subject description"
					class="modal-field-text-textarea"
				></textarea>
			</div>
			<input
				id="add-subject-modal-add-button"
				form="add-subject-modal-form"
				type="submit"
				value="Add +"
				class="modal-add-button"
			/>
		</form>
	</div>
</section>
