.subject-container {
}

/*
////////////////////////////////
////////////////////////////////
TITLE AREA
////////////////////////////////
////////////////////////////////
*/

.subject-title-container {
}

.subject-title {
	color: var(--subject-accent-font);
}

/*
////////////////////////////////
////////////////////////////////
ACTION AREA
////////////////////////////////
////////////////////////////////
*/

.subject-action-container {
}

.subject-action-inner-container {
}

.subject-action-row-1 {
}

.subject-action-row-2 {
}

.subject-add-action-button,
.subject-edit-action-button {
	transition: 0.1s linear;
}

.subject-add-action-button:hover,
.subject-add-action-button:active,
.subject-add-action-button:focus,
.subject-edit-action-button:hover,
.subject-edit-action-button:active,
.subject-edit-action-button:focus {
	border: 2px solid var(--subject-accent);
	box-shadow: var(--box-shadow-medium-size) var(--subject-accent);
	color: var(--subject-accent-font);
}

.subject-cancel-action-button,
.subject-save-action-button {
	transition: 0.1s linear;
}

.subject-cancel-action-button:hover,
.subject-cancel-action-button:active,
.subject-cancel-action-button:focus {
	color: var(--text-primary-reverse);
	background: var(--red-button-hover);
}

.subject-save-action-button:hover,
.subject-save-action-button:active,
.subject-save-action-button:focus {
	color: var(--text-primary-reverse);
	background: var(--blue-button-hover);
}

/*
////////////////////////////////
////////////////////////////////
LIST CONTAINER
////////////////////////////////
////////////////////////////////
*/

.subject-list-container {
}

.subject-list-inner-container {
}

.subject-button {
	transition: 0.1s linear;
}

.subject-button:hover,
.subject-button:active,
.subject-button:focus {
	color: var(--subject-accent-font);
}

.subject-active-list-button {
	color: var(--text-primary);
	background: var(--subject-accent);
}

.subject-active-list-button:hover,
.subject-active-list-button:active,
.subject-active-list-button:focus {
	color: var(--text-primary);
}

.subject-list-drag-button {
	// width: var(--list-section-edit-buttons-width);
	// width: 0;
}

.subject-list-delete-button {
	// width: var(--list-section-edit-buttons-width);
	// width: 0;
}
