<section id="subject-container" class="subject-container section-container">
	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<!-- Title Section -->
	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<div
		id="subject-title-container"
		class="subject-title-container section-title-container"
	>
		<span id="subject-title" class="subject-title section-title">
			Subject
		</span>
	</div>

	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<!-- Action Section -->
	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<div
		id="subject-action-container"
		class="subject-action-container section-action-container"
	>
		<div
			id="subject-action-inner-container"
			class="subject-action-inner-container section-action-inner-container"
		>
			<div
				id="subject-action-row-1"
				class="subject-action-row-1 section-action-row-1 section-action-row"
			>
				<div
					id="subject-add-action-button"
					class="subject-add-action-button section-action-button button"
				>
					Add +
				</div>
				<div
					id="subject-edit-action-button"
					class="subject-edit-action-button section-action-button button"
				>
					Edit ✎
				</div>
			</div>
			<div
				id="subject-action-row-2"
				class="subject-action-row-2 section-action-row-2 section-action-row"
			>
				<div
					id="subject-cancel-action-button"
					class="subject-cancel-action-button section-action-button button"
				>
					Cancel
				</div>
				<div
					id="subject-save-action-button"
					class="subject-save-action-button section-action-button button"
				>
					Save
				</div>
			</div>
		</div>
	</div>

	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<!-- List Section -->
	<!-- ---------------------------------------------------------------- -->
	<!-- ---------------------------------------------------------------- -->
	<div
		id="subject-list-container"
		class="subject-list-container list-container"
	>
		<div
			id="subject-list-inner-container"
			class="subject-list-inner-container list-inner-container"
		>
			<div
				id="subject-list-button-container-0"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-0__eb6de52b-a080-4b9d-ada0-9a84d58a14b1"
					class="subject-button list-button"
				>
					Mathematics
				</div>
			</div>

			<div
				id="subject-list-button-container-1"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-1__f8f19f22-aabf-44f1-9405-c9ee91bfa1cd"
					class="subject-button list-button"
				>
					Economics
				</div>
			</div>

			<div
				id="subject-list-button-container-2"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-2__bfa07c74-04d1-41f5-952b-43e1c7efec63"
					class="subject-button list-button"
				>
					Computer Science
				</div>
			</div>

			<div
				id="subject-list-button-container-3"
				class="subject-list-button-container list-button-container"
			>
				<div
					id="subject-3__679c1d43-f777-41ce-a783-a42903bf13dd"
					class="subject-button list-button"
				>
					Mathematics
				</div>
			</div>
		</div>
	</div>
</section>
