@import "./../../css/variables.scss";

.subject-container {
	flex-direction: column;
	width: 20vw;
	height: 100%;
	/* background: #FFCDC9; */
	border-right: 3px solid black;
}

.subject-list-container {
}

.subject-list-inner-container {
}

.add-subject-button {
	background: var(--background);
	transition: 0.1s linear;
}

.add-subject-button:hover,
.add-subject-button:active,
.add-subject-button:focus {
	box-shadow: 5px 5px var(--subject-accent);
	color: var(--subject-accent);
}

.subject-button {
	transition: 0.1s linear;
}

.subject-button:hover,
.subject-button:active,
.subject-button:focus {
	color: var(--subject-accent);
}

.subject-active-list-button {
	color: black;
	background: var(--subject-accent);
	// border: 2px solid black;
}

.subject-active-list-button:hover,
.subject-active-list-button:active,
.subject-active-list-button:focus {
	color: black;
}

/* .add-subject-modal {

}

.add-subject-modal-form {

} */
