@import "./../../css/variables.scss";

.subject-container {
	flex-direction: column;
	width: var(--list-section-width);
	height: 100%;
	border-right: 3px solid var(--border-black);
}

/*
////////////////////////////////
////////////////////////////////
ACTION AREA
////////////////////////////////
////////////////////////////////
*/

.add-subject-button {
	background: var(--background);
	border: 2px solid var(--border-black);
	transition: 0.1s linear;
}

.add-subject-button:hover,
.add-subject-button:active,
.add-subject-button:focus {
	border: 2px solid var(--subject-accent);
	box-shadow: var(--box-shadow-medium-size) var(--subject-accent);
	color: var(--subject-accent-font);
}

/*
////////////////////////////////
////////////////////////////////
LIST CONTAINER
////////////////////////////////
////////////////////////////////
*/

.subject-list-container {
}

.subject-list-inner-container {
}

.subject-button {
	transition: 0.1s linear;
}

.subject-button:hover,
.subject-button:active,
.subject-button:focus {
	color: var(--subject-accent-font);
}

.subject-active-list-button {
	color: var(--text-primary);
	background: var(--subject-accent);
}

.subject-active-list-button:hover,
.subject-active-list-button:active,
.subject-active-list-button:focus {
	color: var(--text-primary);
}
