.subject-container {
	flex-direction: column;
	width: 25vw;
	height: 100%;
	padding: 5px;
	/* background: #FFCDC9; */
	border-right: 2px solid black;
	overflow-y: auto;
	overflow-wrap: normal;
}

.subject-list-container {
}

.subject-list-inner-container {
}

.subject-button {
}

.subject-active-list-button {
	border: 2px solid black;
}

.add-subject-button {
	background: #ffcdc9;
	transition: background 0.1s linear;
}

.add-subject-button:hover,
.add-subject-button:active,
.add-subject-button:focus {
	background: darkgrey;
}

/* .add-subject-modal {

}

.add-subject-modal-form {

} */
