<section id="subjects-container" class="subjects-container section-container">
	<div
		id="subject-action-container"
		class="subject-action-container section-action-container"
	>
		<div
			id="add-subject-button"
			class="add-subject-button add-button button"
		>
			Add Subject
		</div>
	</div>
	<div
		id="subjects-list-container"
		class="subjects-list-container list-container"
	>
		<div
			id="subject-list-inner-container"
			class="subject-list-inner-container list-inner-container"
		>
			<div
				id="subject-list-button-container-0"
				class="subject-list-button-container list-button-container"
			>
				<div id="subject1" class="subjects-button list-button button">
					Subject 1
				</div>
			</div>
			<div
				id="subject-list-button-container-0"
				class="subject-list-button-container list-button-container"
			>
				<div id="subject2" class="subjects-button list-button button">
					Subject 2
				</div>
			</div>
		</div>
	</div>
</section>
