.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* z-index: 1; */
}

.modal-container {
    flex-direction: column;
    width: 40vw;
    height: auto;
    padding: 0px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
}

.modal-titlebar {
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 20px 0;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}

.modal-close-button {
    /* width: 20px; */
    height: 60px;
    aspect-ratio: 1 / 1;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-left: 2px solid black;
    border-radius: 0 10px 0 0;
    transition: background 0.1s linear;
}

.modal-close-button:hover {
    background: rgb(237, 34, 51);
}

.modal-description {
    margin: 0 30px 5px 30px;
    width: auto;
    height: auto;
    font-size: 14px;
    color: rgb(60, 60, 60);
}

.modal-form {
    flex-direction: column;
    gap: 15px 0;
    width: 30vw;
    height: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.modal-field {
    align-items: flex-start;
    flex-direction: column;
    /* margin: 15px 0; */
    width: 100%;
    height: auto;
    font-size: 14px;
}

.modal-field-label {
    align-self: flex-start;
    margin: 0 0 3px 0;
}

.modal-field-text-input {
    width: 100%;
    height: 40px;
    padding: 2px 10px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
}

.modal-field-text-textarea {
    width: 100%;
    height: auto;
    padding: 2px 10px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
    resize: vertical;
}

.modal-add-button {
    align-self: flex-start;
    margin: 20px 0 15px 0;
    width: 10vw;
    height: 40px;
    background: rgb(46, 122, 236);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    transition: background 0.1s linear;
}

.modal-add-button:hover, .modal-add-button:active, .modal-add-button:focus {
    background: rgb(5, 83, 201);
}