/*
////////////////////////////////
////////////////////////////////
COURSES
////////////////////////////////
////////////////////////////////
*/

.course-container {
}

.add-course-button {
	background: #c3edc0;
	transition: 0.1s linear;
}

.add-course-button:hover,
.add-course-button:active,
.add-course-button:focus {
	background: #aac8a7;
}

.course-list-container {
}

.course-button {
}
