/*
////////////////////////////////
////////////////////////////////
COURSES
////////////////////////////////
////////////////////////////////
*/

.course-container {
	flex-direction: column;
	width: var(--list-section-width);
	height: 100%;
	padding: 5px;
	/* background: #C3EDC0; */
	border-right: 3px solid var(--border-black);
	// overflow-y: auto;
	// overflow-wrap: normal;
}

.add-course-button {
	background: #c3edc0;
	transition: 0.1s linear;
}

.add-course-button:hover,
.add-course-button:active,
.add-course-button:focus {
	background: #aac8a7;
}

.course-list-container {
}

.course-button {
}
