/*
////////////////////////////////
////////////////////////////////
STAGE
////////////////////////////////
////////////////////////////////
*/

.stage {
	flex-direction: row;
	margin: 0;
	width: 100vw;
	height: var(--section-container-height);
	padding: 0;
	background: var(--background);
}
