/* 
////////////////////////////////
////////////////////////////////
STAGE
////////////////////////////////
////////////////////////////////
*/

.stage {
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: 87vh;
    padding: 0;
    background: darkblue;
}