/* 
////////////////////////////////
////////////////////////////////
COMMON
////////////////////////////////
////////////////////////////////
*/

.section-container {
	justify-content: flex-start;
	/* overflow-y: auto;
    overflow-wrap: normal; */
	background: #fcf9ea;
}

.list-container {
	width: 100%;
	height: 100%;
	background: grey;
	border-radius: 10px;
}

.list-inner-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.button {
	width: 100%;
	height: 7vh;
	background: lightgrey;
}

.add-button {
	border: 2px black solid;
	margin: 5px 0 15px 0;
	border-radius: 10px;
}

.list-button {
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 2px rgb(40, 40, 40) solid;
}

.list-button:last-child {
	border-bottom: none;
}

.no-items-in-list-message {
	// margin: 10px 5px;
	width: 100%;
	padding: 15px 0;
	background: white;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
}

/* .closed-modal {
    display: none;
} */

// .mouse-hover {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     background: radial-gradient(circle, rgba(6, 233, 25, 0.5), rgba(0, 0, 0, 0));
//     border-radius: 50%;
//     pointer-events: none;
//     /* z-index: 0; */
// }
