@import "./variables.scss";

/*
////////////////////////////////
////////////////////////////////
SECTION
////////////////////////////////
////////////////////////////////
*/

.section-container {
	justify-content: flex-start;
	background: var(--background);
}

.section-action-container {
	flex-direction: row;
	width: 100%;
	height: var(--list-section-action-container-height);
	padding: 12px 10px;
	border-bottom: 4px solid var(--border-black);
}

/*
////////////////////////////////
////////////////////////////////
SECTION ACTION AREA
////////////////////////////////
////////////////////////////////
*/

.button {
	width: 100%;
	height: 100%;
	text-align: center;
}

.list-add-button {
	// height: 6vh;
	border: 2px solid var(--border-black);
	border-radius: 10px;
	font-size: var(--light-big-text-size);
	font-weight: var(--font-weight-light-bold);
}

/*
////////////////////////////////
////////////////////////////////
SECTION LIST AREA
////////////////////////////////
////////////////////////////////
*/

.list-container {
	width: 100%;
	height: var(--list-section-list-container-height);
	background: var(--background);
}

.list-inner-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--background);
}

.list-button-container {
	width: 100%;
	height: fit-content;
}

.list-button {
	width: 100%;
	height: var(--list-button-height);
	text-align: center;
	border-bottom: 2px solid var(--border-black);
	background: var(--background);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-normal);
}

/*
////////////////////////////////
////////////////////////////////
NO ITEMS IN LIST
////////////////////////////////
////////////////////////////////
*/

.no-items-in-list-message-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}

.no-items-in-list-message {
	width: 100%;
	padding: 15px 0;
	background: var(--background);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-light);
	font-style: italic;
	text-align: center;
}
