/*
////////////////////////////////
////////////////////////////////
SECTION
////////////////////////////////
////////////////////////////////
*/

.section-container {
	justify-content: flex-start;
	background: var(--background);
}

/*
////////////////////////////////
////////////////////////////////
SECTION TITLE AREA
////////////////////////////////
////////////////////////////////
*/

.section-title-container {
	flex-direction: row;
	width: 100%;
	height: var(--section-title-container-height);
	border-bottom: 3px solid var(--border-black);
}

.section-title {
	width: 100%;
	height: 100%;
	font-size: var(--big-text-size);
	font-weight: var(--font-weight-light-bold);
}

/*
////////////////////////////////
////////////////////////////////
SECTION ACTION AREA
////////////////////////////////
////////////////////////////////
*/

.section-action-container {
	flex-direction: row;
	width: 100%;
	height: var(--section-action-container-height);
	// padding: 4px;
	border-bottom: 3px dotted var(--border-black);
}

.section-action-inner-container {
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.section-action-row {
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.section-action-row-1 {
}

.section-action-row-2 {
	height: 0;
	transition: 0.1s linear;
}

.button {
	width: 100%;
	height: 100%;
	text-align: center;
}

.section-action-button {
	width: var(--section-action-button-width);
	height: var(--section-action-button-height);
	border: 2px solid var(--border-black);
	border-radius: 10px;
	font-size: var(--light-big-text-size);
	font-weight: var(--font-weight-light-bold);
}

/*
////////////////////////////////
////////////////////////////////
SECTION LIST AREA
////////////////////////////////
////////////////////////////////
*/

.list-container {
	width: 100%;
	height: var(--list-section-list-container-height);
	background: var(--background);
}

.list-inner-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--background);
}

.list-button-container {
	width: 100%;
	height: fit-content;
}

.list-button {
	width: 100%;
	height: var(--list-section-button-height);
	text-align: center;
	border-bottom: 2px solid var(--border-black);
	background: var(--background);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-normal);
}

/*
////////////////////////////////
////////////////////////////////
NO ITEMS IN LIST
////////////////////////////////
////////////////////////////////
*/

.no-items-in-list-message-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}

.no-items-in-list-message {
	width: 100%;
	padding: 15px 0;
	background: var(--background);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-light);
	font-style: italic;
	text-align: center;
}
