@import "./variables.scss";

/*
////////////////////////////////
////////////////////////////////
COMMON
////////////////////////////////
////////////////////////////////
*/

.section-container {
	justify-content: flex-start;
	background: white;
}

.section-edit-button-container {
	flex-direction: row;
	width: 100%;
	height: 13vh;
	padding: 12px 10px;
	border-bottom: 4px solid black;
}

.list-container {
	width: 100%;
	height: 74vh;
	background: var(--background);
}

.list-inner-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--background);
	// overflow-y: auto;
	// overflow-wrap: normal;
	overflow-y: overlay;
	// scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		// background: rgba(240, 240, 240, 0.2);
	}
	&::-webkit-scrollbar-thumb {
		// background: rgba(0, 0, 0, 0.4);
		background: rgba(20, 20, 20, 0.2);
		border-radius: 10px;
	}
}

.button {
	width: 100%;
	height: 100%;
	background: lightgrey;
	text-align: center;
}

.add-button {
	border: 2px black solid;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 500;
}

.list-button-container {
	width: 100%;
	height: fit-content;
}

.list-button {
	width: 100%;
	height: 8vh;
	text-align: center;
	border-bottom: 2px solid black;
	background: var(--background);
	font-size: 18px;
	font-weight: 450;
}

.no-items-in-list-message-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}

.no-items-in-list-message {
	width: 100%;
	padding: 15px 0;
	background: var(--background);
	font-size: 18px;
	font-weight: 200;
	font-style: italic;
	text-align: center;
}
