/*
////////////////////////////////
////////////////////////////////
SECTION
////////////////////////////////
////////////////////////////////
*/

.section-container {
	justify-content: flex-start;
	background: var(--background);
}

/*
////////////////////////////////
////////////////////////////////
SECTION TITLE AREA
////////////////////////////////
////////////////////////////////
*/

.section-title-container {
	flex-direction: row;
	flex-shrink: 0;
	width: 100%;
	height: var(--section-title-container-height);
	background: var(--background);
	border-bottom: 3px solid var(--border-black);
	z-index: 1;
}

.section-title {
	width: 100%;
	height: 100%;
	font-size: var(--big-text-size);
	font-weight: var(--font-weight-light-bold);
}

/*
////////////////////////////////
////////////////////////////////
SECTION ACTION AREA
////////////////////////////////
////////////////////////////////
*/

.section-action-container {
	position: relative;
	top: 0;
	// top: -8vh;
	flex-direction: row;
	flex-shrink: 0;
	width: 100%;
	height: var(--section-action-container-height);
	transition: 0.1s linear;
}

.section-action-inner-container {
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.section-action-row {
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid var(--border-black);
}

.section-action-row-1 {
	background: lightcoral;
}

.section-action-row-2 {
	background: cyan;
	transition: 0.1s linear;
}

.button {
	width: 100%;
	height: 100%;
	text-align: center;
}

.section-action-button {
	width: var(--section-action-button-width);
	height: var(--section-action-button-height);
	border: 2px solid var(--border-black);
	border-radius: 10px;
	font-size: var(--light-big-text-size);
	font-weight: var(--font-weight-light-bold);
}

/*
////////////////////////////////
////////////////////////////////
SECTION LIST AREA
////////////////////////////////
////////////////////////////////
*/

.list-container {
	position: relative;
	top: -8vh;
	flex-shrink: 0;
	width: 100%;
	height: var(--list-section-list-container-height);
	background: var(--background);
	z-index: 1;
}

.list-inner-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--background);
}

.list-button-container {
	width: 100%;
	height: fit-content;
	border-bottom: 2px dashed var(--border-black);

	&:last-child {
		border-bottom: 3px solid var(--border-black);
	}
}

.list-button {
	width: 100%;
	height: var(--list-section-button-height);
	text-align: center;
	background: var(--background);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-normal);
}

/*
////////////////////////////////
////////////////////////////////
NO ITEMS IN LIST
////////////////////////////////
////////////////////////////////
*/

.no-items-in-list-message-container {
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}

.no-items-in-list-message {
	width: 100%;
	padding: 15px 0;
	background: var(--background);
	font-size: var(--medium-text-size);
	font-weight: var(--font-weight-light);
	font-style: italic;
	text-align: center;
}
