@import "./variables.scss";

// .scroll-container {
// 	/* Hide scrollbar for Chrome, Safari, and newer Edge */
// 	&::-webkit-scrollbar {
// 		display: none;
// 	}
// 	/* Hide scrollbar for Firefox */
// 	scrollbar-width: none;
// 	/* Hide scrollbar for IE and Edge (Legacy) */
// 	-ms-overflow-style: none;
// }

.list-inner-container {
	// overflow-y: auto;
	// overflow-wrap: normal;
	overflow-y: overlay;
	// scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		// background: rgba(240, 240, 240, 0.2);
	}
	&::-webkit-scrollbar-thumb {
		// background: rgba(0, 0, 0, 0.4);
		background: rgba(20, 20, 20, 0.2);
		border-radius: 10px;
	}
}
