/*
////////////////////////////////
////////////////////////////////
HEADERS
////////////////////////////////
////////////////////////////////
*/

* {
	box-sizing: border-box;
}

// .scroll-container {
// 	/* Hide scrollbar for Chrome, Safari, and newer Edge */
// 	&::-webkit-scrollbar {
// 		display: none;
// 	}
// 	/* Hide scrollbar for Firefox */
// 	scrollbar-width: none;
// 	/* Hide scrollbar for IE and Edge (Legacy) */
// 	-ms-overflow-style: none;
// }

/* *, *::before, *::after {
  box-sizing: border-box;
} */

html {
	padding: 0;
	font-family:
		"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: 400;
}

body,
section,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
form,
input,
textarea,
label {
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
	/* z-index: -2; */
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: red;
}

.root {
	flex-direction: column;
	margin: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	background: darkred;
}
