:root {
	--breadcrumb-container-height: 12vh;
	--breadcrumb-container-min-height: 46px;
	--breadcrumb-container-max-height: 72px;
	--breadcrumb-crumb-min-width: 120px;
	--sidebar-container-width: 130px;
	--sidebar-item-img-size: 64px;

	// SCROLL BAR
	--scrollbar-width: 8px;
	--scrollbar-track: rgb(245, 245, 245);
	--scrollbar-thumb: rgb(245, 245, 245);

	// COLOR
	--background: rgb(245, 245, 245);
	--primary: rgb(245, 245, 245);
	--secondary: rgb(158, 158, 158);

	--blue-button: rgb(46, 122, 236);
	--blue-button-hover: rgb(5, 83, 201);
	// --red-button: rgb(237, 34, 51);
	--red-button-hover: rgb(237, 34, 51);

	// rgb(67, 170, 129);
	--subject-accent: #489062;
	--subject-accent-dark: #376e4b;
	--subject-accent-font: #407f57;

	--text-primary: rgb(4, 4, 4);
	--text-secondary: rgb(60, 60, 60);
	--text-primary-reverse: rgb(251, 251, 251);
	--text-secondary-reverse: rgb(195, 195, 195);

	--border-black: rgb(24, 24, 24);
	--border-grey: rgb(171, 171, 171);
	--border-active: rgb(24, 24, 24);

	--box-shadow-big-size: 7px 7px;
	--box-shadow-medium-size: 5px 5px;
	--box-shadow-black: rgb(12, 12, 12);

	--popup-backdrop: rgba(0, 0, 0, 0.3);

	// DISTANCE
	--topbar-height: 13vh;
	--section-container-height: calc(100vh - var(--topbar-height));
	--section-title-container-height: 5vh;
	--section-action-row-height: 10vh;
	--section-action-container-height: calc(
		var(--section-action-row-height) * 2
	);
	--list-section-list-container-height: calc(
		var(--section-container-height) - var(
				--section-title-container-height
			) - var(--section-action-row-height)
	);
	// FORMULA: list-section-list-container-height
	// = section-container-height
	//   - section-title-container-height
	//   - (section-action-container-height / 2)
	--section-action-button-height: 70%;
	--list-section-button-height: 7vh;

	--list-section-width: 25vw;
	--list-section-collapsed-width: 8vw;
	--section-action-button-width: 40%;

	// FONT
	--very-big-text-size: 40px;
	--big-text-size: 26px;
	--light-big-text-size: 22px;
	--medium-text-size: 18px;
	--light-small-text-size: 16px;
	--small-text-size: 14px;
	--very-small-text-size: 10px;
	--section-action-button-size: 20px;
	--section-list-button-size: 18px;

	--font-weight-bold: 600;
	--font-weight-light-bold: 500;
	--font-weight-normal: 450;
	--font-weight-light: 300;
}

// :root[screen-res='large'] {

// }

// :root[data-theme='light'] {
//     --background: rgb(237, 237, 237);
//     --primary: rgb(196, 196, 196);
//     --secondary: rgb(158, 158, 158);
//     --text-primary: rgb(4, 4, 4);
//     --text-secondary: rgb(92, 92, 92);
//     --border: rgb(85, 85, 85);
// }

// :root[data-theme='dark'] {
//     --background: rgb(18, 18, 18);
//     --primary: rgb(59, 59, 59);
//     --secondary: rgb(97, 97, 97);
//     --text-primary: rgb(251, 251, 251);
//     --text-secondary: rgb(163, 163, 163);
//     --border: rgb(170, 170, 170);
// }

// :root[data-theme='light'] {
//     --text: #180101;
//     --background: #f7f7f7;
//     --primary: #ededed;
//     --secondary: #d6d6d6;
//     --accent: #f50505;
// }

// :root[data-theme='dark'] {
//     --text: #fee7e7;
//     --background: #080808;
//     --primary: #121212;
//     --secondary: #292929;
//     --accent: #fa0a0a;
// }
